:root{
    --fonte-familia-padrao: 'Roboto', sans-serif;

    --fonte-peso--padrao: 400;
    --fonte-peso-titulo: 700;

    --fonte-tamanho-logo: 1.5rem;
    --fonte-tamanho-titulo: 1.5rem;
    --fonte-tamanho-subtitulo: 1.125rem;
    --fonte-tamanho-subtitulo-desktop: 1.25rem;
    --fonte-tamanho-titulo-menu: 1.25rem;
    --fonte-tamanho-paragrafo: 1rem;

    --linha-altura-paragrafo: 1.5rem;

    --cor-azul: #004976;
    --cor-branca: #FFF;
    --cor-vermelha: #FF0000;
    --cor-fundo-grid: #F3F2EF;
    --cor-borda: #D1D1D1;

    --margem-container: 1.5rem;
    --margem-formulario: 1.5rem;
    --margem-titulo: 1.125rem;
    --margem-texto: 1rem;
    --margem-input: 1.125rem;
    --margem-botao: 1.25rem;
    --margem-menu-item: 1.25rem;
    --margem-grid: 2.5rem;

    --padding-menu: 1.5rem;
    --padding-tabela: .3rem;

    
}