:root{
    --fonte-familia-padrao: 'Roboto', sans-serif;
    --fonte-tamanho-padrao: 1rem;
    --fonte-altura-padrao: 1.5rem;
    --margin-vertical-padrao: 1.125rem;
    --margin-horizontal-padrao: 1.125rem;

    --fonte-tamanho-titulo-calculadora: 1.5rem;
    --fonte-tamanho-rodape: .8rem;

    --fonte-tamanho-titulo: 1.25rem;
    --fonte-peso-titulo: 700;

    --fonte-tamanho-titulo-secundario: 1rem;

    --padding-vertical-padrao: 2rem;
    --padding-horizontal-padrao: 1.75rem;
    --padding-horizontal-resultado: .75rem;

    --border-bottom-padrao: solid 1px #B7B9BE;
    --background-color-padrao: #004976;

    --cor-padrao-azul: #004976;

    --margin-vertical--botao: 2.25rem;
    --margin-vertical--botao-menu: 2rem;
    --margin-menu: 1rem;
    --padding-menu: 1rem;
}