.secao__container.blog{
    padding: 0 1.5rem;
}

.secao__descricao.blog{
    text-align: center;
}

.texto__mais-conteudo--subtitulo{
    text-decoration: underline;
}

.texto_exemplo{
    text-align: center;
    margin: var(--margin-vertical--botao) 0;
}

@media screen and (min-width: 1024px){
    .secao__descricao.blog{
        text-align: left;
    }

}