.botao {
    align-items: center;
    background-color: var(--cor-azul);
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--cor-branca);
    display: flex;
    height: 36px;
    justify-content: center;
    margin: var(--margem-botao) auto;
    width: 75%;
}

.botao--sec {
    background-color: var(--cor-branca);
    border: 1px solid var(--cor-azul);
    color: var(--cor-azul);
}

.botao--voltar{
    background-color: var(--cor-branca);
    border: 1px solid var(--cor-azul);
    color: var(--cor-azul);
}

@media screen and (min-width: 1024px){
    .botao {
        width: 220px;
    }
}

