.cabecalho{
    align-items: center;
    background-color: var(--cor-azul);
    display: flex;
    height: 90px;
    justify-content: space-evenly;
    width: 100%;
}

.cabecalho__logo--imagem{
    height: 50px;
}

.cabecalho__titulo--texto{
    color: var(--cor-branca);
    font-size: var(--fonte-tamanho-logo);
}

.cabecalho__menu{
    color: var(--cor-branca);
    height: 30px;
}


@media screen and (min-width: 1024px){
    .cabecalho{
        grid-area: header;
        box-sizing: border-box;
        justify-content: flex-start;
        padding: 0 10%;
        width: 100%;
    }

    .cabecalho__titulo--texto{
        box-sizing: border-box;
        margin-left: 40px;
    }
    
    .cabecalho__menu{
        display: none;
    }

  


    

}