.hide {
    display: none;
}

.container__resultado {
    margin: var(--margin-vertical-padrao) 0;

    width: 100%;

    display: flex;
    flex-direction: column;
}

.container__resultado--texto {
    display: flex;
    align-items: baseline;
}

.container__resultado-final {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container__texto--resultado-final {
    background-color: #FFF;
    border-radius: 10px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    padding: var(--padding-horizontal-padrao);
    margin: var(--margin-vertical--botao) 0;

}

