.principal{
    align-items: center;
    background-color: var(--cor-branca);
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    width: 90%;
}

@media screen and (min-width: 1024px){
    .corpo{
        background-color: var(--cor-fundo-grid);
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 90px auto 60px;
        grid-template-areas:
                "header header header header header header header header header header header header"
                "aside aside aside main main main main main main main main main"
                "footer footer footer footer footer footer footer footer footer footer footer footer";
    }

    .principal{
        box-sizing: border-box;
        grid-area: main;
        margin: 0;
        padding: 0 2rem;
    }

}
