.corpo {
    overflow-x: hidden;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 90px 1fr 105px;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";

    background-color: #F3F2EF;

}

.cabecalho {
    grid-area: header;
}

.main {
    grid-area: main;
}

.menu {
    grid-area: aside;
}

.rodape {
    grid-area: footer;
}

@media screen and (min-width: 1024px){
    .corpo {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 90px 1fr 105px;
        grid-template-areas:
            "header header header header header header header header header header header header"
            ". aside aside aside main main main main main main main ."
            "footer footer footer footer footer footer footer footer footer footer footer footer";
            gap: 1rem;
    }

    .cabecalho {
        grid-column: 1 / 12;
        grid-row: 1;
    }
    
    .main {
        grid-column: 4 / 11;
        grid-row: 2;
    }
    
    .menu {
        grid-column: 2 / 4;
        grid-row: 2;
    }
    
    .rodape {
        grid-column: 1 / 12;
        grid-row: 3;
    }
}



