.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: var(--margin-vertical-padrao) 0;
    box-sizing: border-box;
}

.container__resultado {
    margin: var(--margin-vertical-padrao) 0;

    width: 100%;

    display: flex;
    flex-direction: column;
}

.container__resultado--texto {
    display: flex;
    align-items: baseline;
}

.texto__resultado--formulario {
    font-size: var(--fonte-tamanho-padrao);
    font-family: var(--fonte-familia-padrao);
    font-weight: var(--fonte-peso-titulo);
    margin-top: var(--margin-vertical-padrao);

}