.formulario{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: var(--margem-formulario) 0;
}

.formulario__titulo{
    box-sizing: border-box;
    font-size: var(--fonte-tamanho-titulo);
    margin: var(--margem-titulo) 0;
}

.formulario__titulo--add{
    box-sizing: border-box;
    font-size: var(--fonte-tamanho-subtitulo);
    text-align: center;
}

.label{
    height: 100%;
    margin-bottom: .25rem;
}

.label--dica{
    font-size: var(--fonte-tamanho-dica);
}

.input{
    border: solid 1px var(--cor-borda);
    border-radius: 3px;
    box-sizing: border-box;
    height: 36px;
    margin-bottom: var(--margem-input);
    width: 60%;
}

.input--readonly{
    background-color: var(--cor-readonly);
}

.input--erro{
    color: var(--cor-vermelha);
}

.container__total--parcial{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container__total--parcial .label{
    font-weight: var(--fonte-peso-titulo);
}

.container__total--parcial .input{
    border: none;
}

.input--total{
    border: none;
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (min-width: 1024px){
    .input {
        width: 300px;
    }

}

