.label__input {
    font-size: var(--fonte-tamanho-padrao);
    font-family: var(--fonte-familia-padrao);
    margin-top: var(--margin-vertical-padrao);
}

.input {
    width: 160px;
    height: 36px;

    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 0 5px;
    box-sizing: border-box;

    font-family: var(--fonte-familia-padrao);
}

.label__input--texto{
    margin: .2rem 0;
    margin-top: var(--margin-vertical-padrao);
}

.input__texto {
    border: none;
    border-bottom: 1px solid #000000;;
    border-radius: 0;
}

.label__input--total {
    font-weight: var(--fonte-peso-titulo);
}

.input__total {
    font-weight: var(--fonte-peso-titulo);
    font-family: var(--fonte-familia-padrao);

    height: 36px;
}

.input__resultado {
    font-size: var(--fonte-tamanho-padrao);
    font-weight: var(--fonte-peso-titulo);
    font-family: var(--fonte-familia-padrao);

    padding-left: var(--padding-horizontal-resultado);

    width: 200px;
    height: 36px;
}

.input__resultado--final {
    text-align: center;
}