.inativo{
    display: none;
}

.menu{
    background-color: var(--cor-branca);
    box-sizing: border-box;
    height: calc(100vh - 90px - 60px);
    padding: 1.5rem;
}

.menu__secao{
    box-sizing: border-box;
    border-bottom: solid 1px var(--cor-borda);
    margin-bottom: var(--margem-menu-item);
    width: 90%;
}

.menu__texto{
    color: #000000;
}

.menu__titulo{
    box-sizing: border-box;
    color: #000000;
    font-size: var(--fonte-tamanho-titulo-menu);
    margin-bottom: var(--margem-menu-item);
}

.menu__link{
    box-sizing: border-box;
    color: #000000;
    margin: var(--margem-menu-item);
}

@media screen and (min-width: 1024px){
    .inativo{
        display: block;
    }

    .menu{
        background-color: var(--cor-branca);
        box-sizing: border-box;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        grid-area: aside;
        grid-column-start: 2    ;
        height: auto;
        padding: 1.25rem 0.75rem
    }
    
    .menu__titulo{
        font-size: 1rem;
        font-weight: var(--fonte-peso-titulo);
    }
    
}
