

.texto__resultado--final {
    font-size: var(--fonte-tamanho-titulo-calculadora);

    box-sizing: border-box;
}

.input__resultado--final {
    font-size: var(--fonte-tamanho-titulo-calculadora);
}

