.rodape{
    align-items: center;
    background-color: var(--cor-azul);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
    padding: 5px 0;
}

.rodape__logo--imagem {
    height: 50%;
}

.rodape__lista{
    color: var(--cor-branca);
}

@media screen and (min-width: 1024px){
    .rodape{
        grid-area: footer;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-start;
        padding: 0 100px;   
    }

    .rodape__logo--imagem {
        margin-left: 40px;
    }
}