.tabela{
    border: 1px solid #000;
    margin: 0  0 var(--margem-input);
    width: 100%;
}

tr, td, th {
    border: 1px solid #000;
    padding: var(--padding-tabela);
    text-align: center;
}

th {
    background-color: var(--cor-azul);
    color: var(--cor-branca);    
}

.fadeout {
	opacity: 0;
	transition: 0.5s;
}

.tabela--delete{
    background-image: url('../../../assets/imagens/icones/delete_black_24dp.svg');
    background-repeat: no-repeat;
    width: 20px;
    background-position: center;
}